<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if (locals.loggedIn == 1) { %>
            <a title="Click to view your account" href="/account/" id="acc">Account</a>
            <a title="Click to Logout" href="" id="logout">Logout</a> <!-- **need to add link for logout process** -->
        <% } else { %>
            <a title="Click to log in" href="/account/login" id="loginBtn">My Account</a>
        <% } %>
    </div>
</header>