<h1>Welcome to CSE Motors</h1>
<picture class="hero">
    <source media="(min-width:500px)" srcset="/images/vehicles/delorean.jpg">
    <img src="/images/vehicles/delorean-tn.jpg" alt="picture of the delorean">
</picture>
<div id="floatAd">
    <h2>DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman Doors</p>
    <p>Fuzzy dice!</p>
    <button id="ownToday">Own Today</button>
</div>
<div id="reviewsAndUpgrades">
    <section id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our date." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
    <section id="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="partUpgrade">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            <a href="https://www.google.com/search?client=opera-gx&hs=3Mx&sca_esv=8246e02b3da205e5&sxsrf=AE3TifPKoM0swLezB1o9SwDDQMFdxL7idQ:1767808592191&udm=2&fbs=AIIjpHxU7SXXniUZfeShr2fp4giZ1Y6MJ25_tmWITc7uy4KIeioyp3OhN11EY0n5qfq-zEMZldv_eRjZ2XLYc5GnVnMEIxC4WQfoNDH7FwchyAayyomVtyMIlwCjX48LT0TrXSNU5mLhW4DIlZIt3-gwG8mMeXC-Y0JFzx5GBuU59za0o5XLXRovSVas40d3y4gTUxobLZ8-C-h3aNfCXmcENPvCZqzMdA&q=flux+capacitor&sa=X&ved=2ahUKEwjRnayZgPqRAxWJI0QIHR-WBhsQtKgLegQIEhAB&biw=1875&bih=925&dpr=1#sv=CAMSVhoyKhBlLUlNck5nS3RreHQ2QjhNMg5JTXJOZ0t0a3h0NkI4TToOSVFqS0hfdHRraVNEWE0gBCocCgZtb3NhaWMSEGUtSU1yTmdLdGt4dDZCOE0YADABGAcgucD2gQ8wAkoKCAEQAhgCIAIoAg">Flux Capacitor</a>
        </div>
        <div class="partUpgrade">
            <img src="/images/upgrades/flame.jpg" alt="flame decal image">
            <a href="https://cover-alls.com/products/flames">Flame Decals</a>
        </div>
        <div class="partUpgrade">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
            <a href="https://www.teepublic.com/sticker/1136722-back-to-the-future-delorean">Bumper Stickers</a>
        </div>
        <div class="partUpgrade">
            <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
            <a href="https://mikelanemods.com/product/mods/fanhome-delorean-mods/delorean-magnetic-wheel-caps-mod/">Hub Caps</a>
        </div>
    </section>
</div>
