/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary: #912F40;
  --secondary: #702632;
  --accent1: #40434E;
  --accent2: #FFFFFA; 
  --newBlack: #080705;

  /* fonts */
  --head: "Racing Sans One", Tahoma, Verdana, Calibri, Arial;
  --body: "STIX Two Text", "Times New Roman", Serif;
}

/*************************** Header ***************************/
.siteName a{
  /* font */
  font-family: var(--head);
  font-size: 2rem;

  /* colors */
  color: var(--primary);
}

#tools a{
  /* font */
  font-family: var(--body);

  /* colors */
  color: var(--newBlack);
}

.siteName a, #tools a{
  /* text */
  text-decoration: none;
}



header {
  /* flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*************************** Navigation ***************************/
nav ul {
  /* flex */
  display: flex;
  flex-direction: row;
  /* gap: 0.5rem; */
  justify-content: center;

  /* box model */
  padding: 0;

  /* colors */
  background-color: var(--secondary);
}

nav ul li {
  list-style-type: none;

  /* font */
  font-family: var(--body);
  font-size: 1.1rem;

  /* colors */
  color: var(--accent2);

  /* box model */
  /* border: 1px solid var(--newBlack); */
  padding: 0.5rem;
}

nav ul li a {
  color: var(--accent2);
  text-decoration: none;
}

/*************************** Main Elements ***************************/
h1 {
  font-family: var(--head);
  font-size: 1.7rem;
}

.hero img{
  display: block;
  margin: 0 auto;

  width: 300px;
}

.hero {
  position: relative;
}

/* float section */
#floatAd{
  /* box model */
  max-width: 170px;

  /* position */
  position: absolute;
  top: 183px;

  /* color */
  background-color: #fffffa81;

  /* text */
  text-align: center;

}

#floatAd h2 {
  font-family: var(--head);
}

#floatAd p {
  font-family: var(--body);
}

#floatAd h2, #floatAd p {
  margin: 0;
  color: var(--primary);
}

#floatAd button {
  /* box model */
  border: none;
  padding: 0.5rem;

  /* colors */
  color: var(--accent2);
  background-color: var(--primary);

  /* font */
  font-family: var(--body);
  font-size: 1.2rem;  
}

#floatAd button:hover{
  background-color: var(--secondary);
}

/*************************** reviews ***************************/
#reviews h2{
  /* font */
  font-family: var(--head);
  
  /* text */
  text-align: center;
}

#reviews ul li {
  font-family: var(--body);
}

/*************************** Upgrades ***************************/
#upgrades{
  /* grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

#upgrades h2 {
  /* grid */
  grid-column: 1/3;

  /* font */
  font-family: var(--head);

  /* text */
  text-align: center;
}

.partUpgrade {
  /* colors */
  background-color: var(--secondary);

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* text */
  text-align: center;
}

.partUpgrade img {
  /* box model */
  width: 81px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
}

.partUpgrade a {
  /* text */
  text-decoration: none;

  /* colors */
  color: var(--accent2);

  /* font */
  font-family: var(--body);
}

.partUpgrade a:hover {
  text-decoration: underline;
  color: rgb(180, 180, 180);
}

/*************************** Grid View for vehicle grid ***************************/
#inv_display {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#inv_display li {
  text-align: center;

  /* box model */
  padding: 0.5rem;
  border: 1px solid var(--accent1);
  width: 100%;
  height: 100%;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/*************************** Styling for details view ***************************/
#vehicle_details {
  display: flex;
  flex-direction: column;
}

#vehicle_details #v_info p{
  /* font */
  font-size: 1.3rem;
}

#vehicle_details picture {
  align-self: center;
  justify-self: center;
}

#v_info {
  border: 1px solid #080705;
}

#v_info p {
  padding: 0.5rem;
}

#v_info p:nth-child(even){
  background-color: #40434e23;
}

/*************************** Login Page ***************************/
#login, #register {
  /* font */
  font-size: 1.2rem;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  /* box model */
  padding: 1rem;
}

#login input[type='email'],
#login input[type='text'],
#login input[type='password'] {
  border-radius: 2px;
  padding: 0.2rem;

  display: flex;
  flex-direction: column;
}

.submitBtns{
  /* box model */
  padding: 0.5rem;
  border: none;
  border-radius: 2px;

  /* colors */
  background-color: var(--secondary);
  color: var(--accent2);

  /* font */
  font-size: 1.2rem;
}

.submitBtns:hover {
  background-color: var(--primary);
  color: var(--newBlack);
}

.signup {
  text-align: center;
}

.signup a {
  color: var(--primary);
}

.signup a:hover {
  color: var(--accent1);
}

/*************************** Sign up view ***************************/
#register input[type='text'],
#register input[type='email'],
#register input[type='password'] {
  /* flex */
  display: flex;
  flex-direction: column;

  /* box model */
  padding: 0.2rem;
  border-radius: 2px;
}

#register label[for='account_password'] {
  /* box model */
  margin-left: 30px;
}

.show_password {
  /* flex */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.show_password img {
  width: 25px;
}

/*************************** Add Classificaiton ***************************/
#add-classification-form{
  /* flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  & label {
    /* flex */
    display: flex;
    flex-direction: column;

    /* font */
    font-size: 1.2rem;

    & input {
      /* box model */
      border-radius: 2px;
      padding: 0.2rem;

      & :valid {
        color: #117a03;
      }

      & :invalid {
        color: #702632;
      }
    }
  }
}

/*************************** Media Query ***************************/
@media only screen and (min-width:500px){
  #wrapper {
    /* box model */
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem;

    /* colors */
    background-color: white;
  }

  nav ul {
    justify-content: space-evenly;
  }

  #reviews h2, #upgrades h2 {
    text-align: left;
  }

  #reviewsAndUpgrades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
  }

  #upgrades {
    grid-area: 1/1/2/2;
  }

  #reviews {
    grid-column: 2/3;
  }

    #reviews h2 {
      padding-left: 1rem;
    }

    #reviews ul li {
      padding: 1rem 0;
    }

    body {
      background-image: 
        linear-gradient(45deg, var(--newBlack) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--newBlack) 75%),
        linear-gradient(45deg, transparent 75%, var(--newBlack) 75%),
        linear-gradient(45deg, var(--newBlack) 25%, transparent 25%);
      background-size: 100px 100px;
      background-position: 0 0, 0 0, -50px -50px, 50px 50px;
    }

    /*************************** gird view for vehicles ***************************/
    #inv_display {
      /* grid */
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: end;
      justify-content: center;
      gap: 0.5rem;
    }

    /*************************** vehicle details large view ***************************/
    #vehicle_details {
      /* grid */
      display: grid;
      grid-template-columns: 2fr auto;
      gap: 1rem;
    }

    #vehicle_details picture {
      grid-row: 1/3;
    }
}