<!-- This is the content heading -->
<% if (title) {%>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

<%- messages() %>

<div class="AddLinks">
    <a href="/inv/add-classification" id="classification">Add New Classification</a>
    <a href="/inv/add-inventory" id="inventory">Add New Inventory</a>
</div>
<div id="manage">
    <h2>Manage Inventory</h2>
    <p>Please select a classification from the list to see items that belong to that classification.</p>

    <%- classificationSelect %>

    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
</div>
<script src="../../js/inventory.js" defer></script>